@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";
#manage-reservations{
  #statistics-cards{
    > div{
      @include box-sizing();
      padding: 10px;
      div{
        background: #ccc;
        padding: 20px 40px;
        @include radius(5px);
        cursor: pointer;
        position: relative;

        .v-icon{
          position: absolute;
          right: 35px;
          top: 0;
          bottom: 0;
          margin: 0;
          font-size: 30px;
          color: rgba(0,0,0,.2)
        }
      }
      span{
        font-size: 32px;
        font-weight: 500;
      }
      &:nth-of-type(1){
        div{
          background: #d0d0d0;
          h3{
            color: #656565;
          }
        }
      }
      &:nth-of-type(2){
        div{
          background: #89a4cc;
          h3{
            color: #2b4771;
          }
        }
      }
      &:nth-of-type(3){
        div{
          background: #f5cd79;
          h3{
            color: #a27c2b;
          }
        }
      }
      &:nth-of-type(4){
        div{
          background: #51b783;
          h3{
            color: #0f5547;
          }
        }
      }
      &:nth-of-type(5){
        div{
          background: #e54f43;
          h3{
            color: #661b16;
          }
        }
      }
      &:nth-of-type(6){
        div{
          background: #f19066;
          h3{
            color: #783b20;
          }
        }
      }
    }
  }
  #receipts-records{
    .v-btn{
      margin-left:0;
    }
    .receipts-btn{
      padding: 0;
      font-weight: normal;
      text-transform: capitalize;
    }
  }
 
}
.details-model__info{
  margin: 5px 5px 14px;
  h3{
    margin-bottom: 3px;
    font-size: 16px ;
  }
  span{
    font-size: 16px !important;
  }
}
.details-message{
  padding: 10px;
  @include radius(4px);
  background: #fefccf;
  border: 1px solid #f2c559
}
.details-room{
  padding: 10px;
  border: 1px solid #ccc;
  @include radius(4px);
  margin: 5px 5px 0;

  
}
.v-list-files{
  > :nth-child(even){
    background: #fafafa !important;
  }
}