@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";

#signup{
  .v-card{
    max-width: 450px;
    margin: 0 auto 30px;
  }
  .signup-link{
    padding-left: 7px;
  }
  .success-icon{
    background: #59bb57;
    width: 80px;
    height: 80px;
    @include radius(50px);
    margin: 0 auto;
    font-size: 40px !important;
  }
  .success-text{
    font-size: 18px;
    line-height: 28px; 
    margin: 0;
    &:first-of-type{
      font-weight: 700;
      font-size: 20px;
    }
  }
  .error-message{
    background: #ffe9e8;
    padding: 8px;
    border-left: 4px solid #e33333;
    span{
      font-size: 14px;
    }
    .v-icon {
      color: #e33333;
      line-height: 20px;
      padding-right: 5px;
    }
  }
}
.card-padding{
  padding: 20px !important;
}