@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";

#signup{
  .v-card{
    max-width: 450px;
    margin: 0 auto 30px;
  }
  .signup-link{
    padding-left: 7px;
  }
}
.card-padding{
  padding: 20px !important;
}