
  @import "../../../assets/styles/vars";
  @import "../../../assets/styles/mixins";
  @import "~vue-upload-component/dist/vue-upload-component.part.css";

  #amount {
    background: $light-green-color;
    padding: 26px 30px;
    @include radius(4px);
    position: relative;

    h3 {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 700;
    }

    span {
      font-size: 36px;
      font-weight: 600;
    }

    .v-icon {
      position: absolute;
      right: 40px;
      top: 0;
      bottom: 0;
      font-size: 50px;
      color: rgba(0, 0, 0, 0.3);
    }
  }

  #bank-accounts {
    margin: 40px 0;

    h3 {
      color: $gray-color;
      margin-bottom: 20px;
    }

    .v-expansion-panel__container {
      @include radius(4px);
    }

    table{
      border-collapse: collapse;
      width: 100%;
      td{
        padding: 4px;
      }
      tr:nth-child(even){
        background:#f4f4f4;
      }
    }

    .v-icon__bank{
      color: $light-gray-color;
      margin-right: 5px;
    }
    .v-expansion-panel__header{
      padding: 12px 15px;
    }

  }

  .drag-drop {
    .upload {
      padding: 15px 10px;
      @include radius(4px);
      border: 1px dashed #ccc;
      text-align: center;
      margin: 15px 0 0;
      @include box-shadow(0, 1px, 2px, rgba(0,0,0,0.1))
      p{
        margin: 0 0 0 10px;
      }
      

      label {
        cursor: pointer;
        display: inline-block;
        padding: 8px 15px;
        border: 1px solid #999;
        font-weight: 500;
        width: 90%;
        @include radius(4px);
        .v-icon {
          font-size: 16px;
          display: inline;
          margin-right: 5px;
        }
        &:hover{
          background: #fafafa;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 5px 0;
          margin: 4px 0;
          background: $gray-background;
        }
      }
    }

    .drop-active {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: fixed;
      z-index: 9999;
      opacity: 0.6;
      text-align: center;
      background: #000;
    }

    .drop-active h3 {
      margin: -0.5em 0 0;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 40px;
      color: #fff;
      padding: 0;
    }

    .upload-btn{
      margin: 15px 0 0;  
      padding: 8px 15px;
      @include radius(3px);
    }
    

  }
.files-list{
  padding: 15px;
  background: #fafafa;
  border-bottom: 1px dashed #ccc;
  &:last-of-type{
    border-bottom: none;
  }
  .v-icon{
    color: #ccc !important;
    cursor: pointer;
  }
}
.file-invalid{
  background: #ffe9e8;
  color: darkred;

  .v-icon{
    color: #58b44e !important;
    cursor: pointer;
  }
}
  .payment-instruction{
    background: #fefccf;
    padding: 10px 15px;
    border-left: 5px solid #feae25;
    font-size: 16px;
    .v-icon{
      color: #fc9e38 !important;
      margin-right: 10px;
    }
  }

  .confirmation-countdown .container{
    background: transparent !important;
  }
  .confirmation-countdown{
    text-align: center;
    background: #fcfcfc;
    padding: 25px 0 5px;
    @include radius(5px);
    h1{
      color: #555;
    }
  }
  .flip-card__top[data-v-534dd9a6], .flip-card__bottom[data-v-534dd9a6], .flip-card__back-bottom[data-v-534dd9a6], .flip-card__back[data-v-534dd9a6]::before, .flip-card__back[data-v-534dd9a6]::after{
    background: #fff !important;
    color: #666 !important;
    border: none !important;
    @include box-shadow(1px,2px,1px, rgba(0,0,0,0.1))
  }
  .flip-card__top[data-v-534dd9a6]{
    background: #fafafa !important;
  }