@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";

#manage-dorm{
  .v-icon{
    font-size: 18px;
    color: $light-gray-color;
  }
  .info-tab{
   
  }
  .heading{
    margin-bottom: 15px;
  }
  .v-card{
    border-top: 1px solid #ccc !important;
  }
  
  .drag-drop {
    .upload {
      padding: 40px 20px;
      @include radius(4px);
      border: 2px dashed $light-gray-color;
      text-align: center;
      margin: 20px 0;

      .v-icon {
        font-size: 60px;
        color: $light-gray-color;
        margin-bottom: 20px;
      }

      label {
        margin-top: 5px;
        text-decoration: underline;
        cursor: pointer;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 5px 0;
          margin: 4px 0;
          background: $gray-background;
        }
      }
    }

    .drop-active {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: fixed;
      z-index: 9999;
      text-align: center;
      background: rgba(0,0,0,0.6);
    }

    .drop-active h3 {
      margin: -0.5em 0 0;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 40px;
      color: #fff;
      padding: 0;
    }

    .action-btn {
      .select-btn {
        top: 14px;
        padding: 7px 20px 7px 15px;
        color: $white-color;
        text-transform: uppercase;
        font-weight: 500;
        background: #1c3a70;
        @include radius(2px);
        @media (max-width: 600px) {
          width: 100%;
          margin-bottom: 20px;
        }
        label{
          cursor: pointer;
        }
        .v-icon{
          padding-right: 10px;
        }
      }
    }
  }
  .info-tab{
    .v-tabs{
      border: 1px solid #ccc;
    }
    .v-tabs__slider{
      height: 3px;
    }
  }
  .card-header{
    background: #1c3a70;
  }
  .v-tabs__slider{
    height: 3px;
  }
  .about{
    font-size: 16px;
    white-space: pre-line;
  }
  .dorm-feature{
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #fafafa;
    background: #fafafa;
    @include radius(5px);
    .v-icon{
      color: $light-green-color;
      margin-right: 10px;
    }
    span{
      font-size: 18px;
    }
  }
  .cover-block{
    width: 100%;
    height: 350px;
    background: #f6f6f6;
    border: 1px dashed #ccc;
    position: relative;
    .v-icon{
      font-size: 70px;
    }
  }
  .update-cover__btn{
    position: absolute;
    right: 0;
    top: 0;
  }
}
