@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";


#show-savedroom{
  position: fixed;
  bottom: 0;
  background: #172f59;
  width: 100%;
  z-index: 5;
  text-align: center;
  color:#fff;
  font-size: 16px;
  padding: 5px 0;
  span{
    padding-right: 10px;
  }
}