@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";

#reviews{
  background-color: #fafafa;
  max-height: 400px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gold-color;
    outline: 1px solid slategrey;
    @include radius(10px);
  }

  h2{
    margin: 0 0  15px 0; 
  }
  #review{
    padding: 10px 20px;
    background: #fff;
    margin: 10px 0;
    @include radius(5px)
  }
  .review-name,
  .review-date
  {
    font-weight: 600;
  }
  .review-name{
    font-size: 16px;
  }
  .review-date{
    color: $gray-color;
  }
  .review-description{
    margin: 5px 0;
    &:first-letter{
      text-transform: uppercase;
    }
  }
}