{% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}

<table style="width: 100%; direction: rtl; border-collapse: collapse;">
    <thead>
      <tr style="text-align: center;">
        <td style="padding:20px 0 10px;">
          <img src="https://forums.coretabs.net/uploads/default/original/1X/a5ccc636dda6380ef461b51f79ea34b5633457e5.png" alt="Coretabs logo" width="200">
        </td>
      </tr>
    </thead>
    <tbody style=" background: #fafafa; padding: 20px;">
      <tr style="padding:20px; text-align: center;">
        <td style="padding-top: 40px;">
          <h2>Hello {{ user_display }}</h2>
          <p style="font-size: 18px; max-width: 600px; margin: 0 auto; line-height: 27px;">
            Please follow the link below to confirm your email address
          </p>

          <a href="{{ activate_url }}" style="display: block; width: 150px; background-color: #5355e8; background-image:linear-gradient(to left, #2d43e7, #9042e8); color:#fff; padding: 12px 10px 10px; margin: 30px auto; border-radius:100px; text-decoration: none; font-size: 18px;">Confirm Email</a>
        </td>
      </tr>
      <tr style="padding:20px; text-align: center;">
        <td style="padding: 0 0 50px;">
          <div style="max-width: 500px; margin: 0 auto;">
            
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-size: 14px; max-width: 600px; margin: 0px auto 50px; color: #a4a4a4; text-align: center;">If the button above does not work, copy the following link

            <a href="{{ activate_url }}" style="display: block; color:#9042e8; text-decoration: none;">{{ activate_url }}</a>
          </p>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr style="text-align: center;">
        <td>
          <span style="display: block; padding-top: 30px; color: #666;">Best Wishes</span>
          <span  style="display: block; color: #666;">EMU Dorms Portal</span>
        </td>
      </tr>
    </tfoot>
  </table>

{% endblocktrans %}{% endautoescape %}

