@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";
#reservation {
  .container {
    background: $gray-background;
  }
  .layout {
    // margin-top: 40px;
    .v-stepper {
      @include radius(4px);
    }
  }
  .v-stepper__step--complete{
    .v-stepper__step__step{
      background-color: #42b46d  !important;
    }
  }
  .noroom-alert{
      background-color: #fefccf;
      padding: 8px 15px;
      border-left: 5px solid #f2c559;
      span{
        font-size: 16px;
      }
      .v-icon {
        color: #f5ad51;
        font-size: 22px;
        margin-right: 10px;
      }
  }
  .contact-icon{
    bottom: 50px;
    right: 20px;
    position: fixed;
    z-index: 5;
  }

}
.contact-info{
  margin: 15px 0;
  .v-icon{
    font-size: 14px;
    line-height: 18px;
    margin-right: 10px;
    color: $light-gray-color !important;
  }
  span{
    font-weight: 700;
  }
}