@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";
@import '~swiper/dist/css/swiper.css';

#dorm-profile{
  .v-parallax{
    .v-parallax__content{
      padding: 0;
      position: relative;
    }
    .layout{
      background-image:linear-gradient(rgba(255,0,0,0),rgba(41, 60, 91, 1));
    }
    #dorm-banner{
      position: absolute;
      bottom: 140px;
      h1{
        font-weight: 500;
        margin-bottom: 2px;
        font-size: 32px;
      }
      a,
      .v-icon{
        color: $white-color;
      }
      .v-icon{
        font-size: 20px;
        margin-right: 5px;
      }
    }
    #dorm-photos{
      position: absolute;
      bottom: 40px;
      display: flex;
      width: auto;
      overflow: hidden;
      div{
        height: 70px;
        .swiper-slide{
          margin: 0 5px 10px;
          @include radius(4px);
          background: #fff;
          color: #000;
          max-width: 120px;
          min-width: 120px;
          text-align: center;
          overflow: hidden;
        }
      }
      img{
        width: 120px;
      }
      .v-card{
        img{
          width: 200px;
        }
      }
      .photo360{
        width: 100%;
        height: 100%;
        background: #000;
      }
    }
  }
}