@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";

#search-dorm {
  margin-bottom: 20px;

  h2 {
    margin: 0px 0 20px;
  }

  .flex {
    padding: 0px;
  }

  .v-input__slot {
    box-shadow: none;
    border: 1px solid #ccc;
  }

  .shift-left .v-input__slot {
    margin-left: -2px;
  }

  .v-input__prepend-inner {
    margin-right: 10px;

    .v-icon {
      color: #ccc;
      font-size: 20px;
    }
  }

  .v-btn--large {
    margin: 0;
    background: #feae25;
    padding: 0;
    height: 48px;
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -3px;
    -webkit-box-shadow: inset 0px 0px 0px 1px #ccc;
    -moz-box-shadow: inset 0px 0px 0px 1px #ccc;
    box-shadow: inset 0px 0px 0px 1px #ccc;

    .v-icon {
      font-size: 14px;
      margin-right: 6px;
    }
  }
}