@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";
#login {
  .container {
    background: $gray-background;
  }
  .v-card {
    padding: 15px 25px 20px;
    @include radius(4px);
    .v-btn {
      @include radius(4px);
    }
    .v-icon {
      font-size: 20px;
    }
  }
  .forgot-link{
    padding-left: 10px;
  }
  
}
.success-icon{
  background: #fafafa;
  border: 1px solid #f5f5f5;
  width: 80px;
  height: 80px;
  @include radius(50px);
  margin: 0 auto;
  color: #59bb57 !important;
  font-size: 40px !important;
}
.success-text{
  font-size: 18px;
  line-height: 28px; 
  margin: 0;
  &:first-of-type{
    font-weight: 700;
    font-size: 20px;
  }
}
.error-message{
  background: #ffe9e8;
  padding: 8px;
  border-left: 4px solid #e33333;
  span{
    font-size: 14px;
  }
}