$gray-color: #666;
$light-gray-color: #cccccc;
$white-color: #ffffff;
$primary-btn-color: #1c3a70;
$light-black: #222;
$filtersAside-width: 320px;
$poppins-font: 'assets/fonts/poppins/';
$gray-background: #fafafa;
$light-green-color: #58b44e;
$gold-color: #f4c150;
$orange-color: #feae25;