$gray-color: #666;
$light-gray-color: #cccccc;
$white-color: #ffffff;
$primary-btn-color: #1c3a70;
$light-black: #222;
$filtersAside-width: 320px;
$poppins-font: 'assets/fonts/poppins/';
$gray-background: #fafafa;
$light-green-color: #7bd477;