<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>demo-webpack</title>
    <link href="~/css/app.0dda74f2c21ea2d46d5aa57692df92dd.css" rel=stylesheet>
</head>
<body>
    <div id=app></div>
    <script type=text/javascript src="~/js/manifest.2ae2e69a05c33dfc65f8.js"></script>
    <script type=text/javascript src="~/js/vendor.1a96ee8be9b6bf18127e.js"></script>
    <script type=text/javascript src="~/js/app.b8361798c07456102742.js"></script>
</body>
</html>