@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";

#room-card {
  margin: 5px 0 30px;
  @media (max-width: 600px) {
    margin: 20px 10px 0;
  }
  .v-card {
    box-shadow: none;
    border: 1px solid $light-gray-color;
    @include radius(5px);
    overflow: hidden;
    .headline {
      margin: 10px 5px;

      a {
        font-weight: 500;
        font-size: 28px !important;
        text-decoration: none;
        color: $light-black;
      }
    }
    .room-images {
      overflow: hidden;
      min-height: 250px;
      max-height: 500px;
      .v-carousel__controls{
        background: transparent;
      }
      .v-window,
      .v-responsive {
        @media (max-width: 600px) {
          height: 350px !important;
        }
      }
    }
    .room-details {
      padding: 20px 35px 0;
      @media (max-width: 600px) {
        padding: 20px 20px 10px;
      }
      h3 {
        color: #7f7f7f;
        font-size: 14px;
        margin: 4px 0;
      }
      span{
        font-size: 18px;
        .v-icon{
          font-size: 16px;
          line-height: 26px;
          color: #999;
        }
      }
      
      .room-feature{
        display: inline-block;
        margin: 6px 10px 5px 0;
        border: 1px solid #eee;
        padding: 2px 15px 2px 10px;
        @include radius(5px);
        background: #fff;
        .v-icon{
          font-size: 14px;
          line-height: 22px;
          margin-right: 8px;
          color: $light-green-color;
        }
        span{
          font-size: 16px;
        }
      }
      .room-warning {
        background-color: #fafafa;
        padding: 8px 15px;
        border-left: 5px solid #e33333;
        
        span{
          font-size: 16px;
        }
        .v-icon {
          color: #e33333;
          font-size: 20px;
          margin-right: 10px;
        }
      }
      .detail-block{
        margin: 10px 0;
      }
      .feature-block{
        margin: 10px 0;
        
        @include radius(5px);
        max-height: 250px;
        overflow-y: auto;
        h3 {
          margin: 5px 0 10px;
          color: #7f7f7f;
        }
      }

      .reservation-block{
        border-top: 1px dashed $light-gray-color;
        margin: 15px 0;
        padding-top: 10px;
        .room-price{
          margin: 10px 0;
        }
        .reserve-btn{
          margin: 10px 0 0; 
          text-align: right;
          .v-btn{
            @include radius(5px);
            
          }
        }
      }
    }
  }
}